.header {
  font-size: 14px;

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__logo {
    margin-right: 70px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
  }

  &__topnav {
    font-size: 12px;
    font-weight: 500;
    padding: 12px 0 0;
    align-self: flex-end;
    margin-bottom: -2px;

    &-link {
      display: inline-block;
      text-transform: uppercase;
      margin-right: 35px;
      border-bottom: 3px solid transparent;
      transition: .25s;
      position: relative;
      padding-bottom: 8px;
      color: $purple-main;

      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $purple-main;
        border-bottom-color: $purple-main;
      }
      &--active {
        color: $purple-main;
        font-weight: bold;
        border-bottom-color: $purple-main;
      }
    }
  }

  &__actions {
    padding: 12px 0;
  }

  &__main {
    display: flex;
    align-items: center;
    padding: 24px 0;
  }

  &__callback {
    margin-right: 15px;
  }

  &__mainnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    position: relative;

    &-item {
      &:not(.header__mainnav-item--multi){
        padding: 16px;
      }
      &--multi {
        .header__mainnav-link {
          padding: 16px 20px 16px 16px;
        }
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          margin-top: 11px;
          margin-left: -13px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 4px 0 4px;
          border-color: #000 transparent transparent transparent;
        }
        &:hover {
          color: #fff;
          &:after {
            border-color: #fff transparent transparent transparent;
          }
          .header__mainnav-link {
            background: $purple-main;
            color: #fff;
          }
          .header__mainnav-dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &-link {
      cursor: pointer;
      width: 100%;
    }

    &-dropdown {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: calc(100% - 3px);
      left: 0;
      background: $purple-main;
      display: flex;
      flex-wrap: wrap;
      padding: 28px;
      transition: .25s;

      &-item {
        width: 50%;
        margin-bottom: 15px;
      }

      .link {
        color: #fff;
        font-weight: 400;
        &:hover {
          color: $accent;
        }
      }
    }
  }

  &__menutoggle {
    display: flex;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
    &-icon {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $gradient;
      margin-right: 13px;
      &-opened {
        display: none;
      }
    }

    &-text {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
      &-opened {
        display: none;
      }
    }
  }

  @include media($screen-lg){
    font-size: 13px;

    &__logo {
      margin-right: 40px;
      svg {
        max-width: 180px;
      }
    }

    &__mainnav {
      &-item {
        &:not(.header__mainnav-item--multi) {
          padding: 16px 8px;
        }
        &--multi {
          .header__mainnav-link {
            padding: 16px 16px 16px 16px;
          }
        }
      }
    }

    &__menutoggle {
      margin-right: 30px;
      &-text {
        font-size: 12px;
      }
    }
  }

  @include media(1000px){
    &__main {
      justify-content: space-between;
      padding: 15px 0;
    }
    &__menutoggle {
      margin-right: 0;
    }
    &__mainnav {
      display: none;
    }
  }

  @include media($screen-sm){
    &__topnav-link {
      font-size: 11px;
      margin-right: 15px;
    }
  }

  @include media(650px){
    &__actions {
      display: none;
    }
  }

  @include media($screen-xs){
    &__menutoggle {
      &-icon {
        margin-right: 0;
      }
      &-text {
        display: none;
      }
    }
  }

  @include media(480px){
    &__topnav {
      display: flex;
      justify-content: space-between;
      &-link {
        font-size: 10px;
      }
    }
  }

}

/* when catalog is shown  */
.header-catalog-is-shown .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: $purple-main;
  color: #fff;
  z-index: 99;

  &__top {
    border-bottom-color: #fff;
    .link {
      color: #fff;
    }
  }

  &__mainnav {
    display: none;
  }

  &__topnav {
    &-link {
      color: #fff;
      &--active,
      &:hover {
        border-bottom-color: $accent
      }
    }
  }

  &__logo {
    svg path {
      fill: #fff !important
    }
  }

  &__menutoggle-icon {
    background: $accent;
  }

  &__menutoggle-text,
  &__menutoggle-icon {
    &-closed {
      display: none;
    }
    &-opened {
      display: block;
    }
  }
}