include ../header-catalog/header-catalog

//header
.header.js-header
  .wrapper
    .header__inner
      .header__top
        .header__topnav
          a(href="#!").header__topnav-link Одежда
          a(href="#!").header__topnav-link.header__topnav-link--active Вышивка
          a(href="#!").header__topnav-link Спортивные костюмы
        .header__actions
          a(href="#popup-callback").header__callback.link.js-popup Перезвоните мне
          a(href="tel:+7(4872)40-51-34").header__phone.link.link--noline +7 (4872) 40-51-34

      .header__main
        a(href="#!").header__logo
          include ../../img/icons/logo.svg

        .header__menutoggle.js-header-menutoggle
          .header__menutoggle-icon
            img(src=require("@root/img/icons/burger.svg"), alt="").header__menutoggle-icon-closed
            img(src=require("@root/img/icons/cross.svg"), alt="").header__menutoggle-icon-opened            
          .header__menutoggle-text
            .header__menutoggle-text-closed Все услуги
            .header__menutoggle-text-opened Закрыть меню

        .header__mainnav
          .header__mainnav-item.header__mainnav-item--multi
            a.link.link--noline(href="#!").header__mainnav-link Вышивка на одежде
            .header__mainnav-dropdown
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Cпортивной форма
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Xалаты
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Майки/футболки
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Поло
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Рубашки
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Толстовки
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Костюмы
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Брюки/джинсы/шорты
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Кепки (бейсболки)
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Шапки, шарфы, варежки
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Панамы
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Галстуки
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Фартуки
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Полотенца
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Жилеты
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Школьная форма
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Вышивка металлизированной нитью
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Вышивка на крое
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") 3D-вышивка
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Аппликация
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Вышивка бирок
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Медицинска одежда
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Рюкзаки
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Форма и спецодежда
          .header__mainnav-item
            a.link.link--noline(href="#!").header__mainnav-link Вышивка логотипа
          .header__mainnav-item
            a.link.link--noline(href="#!").header__mainnav-link Нашивки
          .header__mainnav-item.header__mainnav-item--multi
            a(href="#!").link.link--noline.header__mainnav-link Термотрансфер
            .header__mainnav-dropdown
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Спортивная форма
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Халаты
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Майки/футболки
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Поло
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Рубашки
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Толстовки
              .header__mainnav-dropdown-item
                a.link.link--noline(href="#!") Костюмы

  +header-catalog()