.slider {
  position: relative;
  .slick {
    &-slide {
      & > div {
        width: 100%;
        display: flex;
      }
    }
    &-arrow {
      position: relative;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: 2px solid #fff;
      background: none;
      transform: none;
      cursor: pointer;
      outline: none;
      transition: .3s;

      &:hover {
        border-color: $accent;
      }

      &:after {
        position: absolute;
        top: 52%;
        left: 44%;
        transform: translate(-50%, -50%);
      }

      &.slick-next:after {
        content: url('../img/icons/slider-next-icon.svg');
        left: 52%;
      }
      &.slick-prev:after {
        content: url('../img/icons/slider-prev-icon.svg');
      }
    }

    &-prev {
      margin-right: 23px;
    }

    &-dots {
      display: flex;
      align-items: center;

      li {
        width: 30px;
        height: 6px;
        border-radius: 3px 0px;
        background: #fff;
        margin-right: 14px;
        transition: .3s;
        cursor: pointer;

        &.slick-active {
          background: $accent;
        }
      }
    }
  }

  /* SLIDER ITEM */
  &__item {
    position: relative;

    &-title {
      margin-bottom: 20px;
      color: #fff
    }

    &-desc {
      font-size: 18px;
      font-weight: 500;
      padding-right: 100px;
    }

    &-img {
      vertical-align: bottom;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-content {
      color: #fff
    }
    
    &-inner {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      padding: 0 30px 60px;
    }
  }

  &__nav {
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__arrows {
    display: flex;
    align-items: center;
  }

  @include media($screen-xs){
    &__item {
      &-title {
        margin-bottom: 10px;
      }
      &-desc {
        font-size: 14px;
        padding-right: 0;
      }
      &-inner {
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &__arrows {
      display: none;
    }
    &__nav {
      bottom: 22px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}