mixin slider()
  //slider
  .slider.js-slider-wrapper
    //slider navigation
    .slider__nav
      .slider__dots.js-slider-dots
      .slider__arrows.js-slider-arrows
    //slider carousel
    .slider__block.js-slider
      .slider__item
        img(src=require('@root/img/slide-img-1.jpg'), alt="").slider__item-img
        .slider__item-inner
          .slider__item-content
            .h2.slider__item-title Примеры работ
            .slider__item-desc Вышивка пайетками
      .slider__item
        img(src=require('@root/img/slide-img-2.jpg'), alt="").slider__item-img
        .slider__item-inner
          .slider__item-content
            .h2.slider__item-title Примеры работ
            .slider__item-desc Вышивка на крое
      .slider__item
        img(src=require('@root/img/slide-img-3.jpg'), alt="").slider__item-img
        .slider__item-inner
          .slider__item-content
            .h2.slider__item-title Примеры работ
            .slider__item-desc Вышивка на текстиле
      .slider__item
        img(src=require('@root/img/slide-img-4.jpg'), alt="").slider__item-img
        .slider__item-inner
          .slider__item-content
            .h2.slider__item-title Примеры работ
            .slider__item-desc Вышивка логотипа