.services-page {
  margin-bottom: 85px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px -15px 0;
  }

  &__item {
    width: calc(100% / 6);
    margin-bottom: 70px;
    padding: 0 15px;
  }

  @include media($screen-md) {
    &__item {
      margin-bottom: 55px;
    }
  }

  @include media($screen-sm){
    &__list {
      margin-left: -20px;
      margin-right: -20px;
    }
    &__item {
      margin-bottom: 40px;
      padding: 0 10px;
      .item__text {
        font-size: 13px;
        line-height: 1.5;
      }
    }
  }

  @include media($screen-xs){
    margin-bottom: 0;
    &__list {
      padding-bottom: 20px;
    }
    &__item {
      width: calc(100% / 3);
    }
  }

  @include media(480px){
    &__item {
      width: 50%;
    }
  }
}