include ../item/item
include ../promo/promo
include ../pagehead/pagehead

mixin services-page()
  .services-page

    +pagehead('Вышивка на одежде')

    .wrapper
      .services-page__inner
        .services-page__list
          +item('services/service-icon-1.svg', 'Спортивная форма', 'services-page__item')
          +item('services/service-icon-2.svg', 'Майки/футболки', 'services-page__item')
          +item('services/service-icon-3.svg', 'Поло', 'services-page__item')
          +item('services/service-icon-4.svg', 'Рубашки', 'services-page__item')
          +item('services/service-icon-5.svg', 'Толстовки', 'services-page__item')
          +item('services/service-icon-6.svg', 'Костюмы', 'services-page__item')
          +item('services/service-icon-7.svg', 'Брюки/джинсы/шорты', 'services-page__item')
          +item('services/service-icon-8.svg', 'Кепки, (бейсболки)', 'services-page__item')
          +item('services/service-icon-9.svg', 'Шапки, шарфы, варежки', 'services-page__item')
          +item('services/service-icon-10.svg', 'Панамы', 'services-page__item')
          +item('services/service-icon-11.svg', 'Галстуки', 'services-page__item')
          +item('services/service-icon-12.svg', 'Фартуки', 'services-page__item')
          +item('services/service-icon-13.svg', 'Халаты', 'services-page__item')
          +item('services/service-icon-14.svg', 'Полотенца', 'services-page__item')
          +item('services/service-icon-15.svg', 'Жилетки', 'services-page__item')
          +item('services/service-icon-16.svg', 'Школьная форма', 'services-page__item')
          +item('services/service-icon-17.svg', 'Вышивка металлизированной нитью', 'services-page__item')
          +item('services/service-icon-18.svg', 'Вышивка на крое', 'services-page__item')
          +item('services/service-icon-19.svg', '3D-вышивка', 'services-page__item')
          +item('services/service-icon-20.svg', 'Аппликация', 'services-page__item')
          +item('services/service-icon-21.svg', 'Вышивка бирок', 'services-page__item')
          +item('services/service-icon-22.svg', 'Медицинская одежда', 'services-page__item')
          +item('services/service-icon-23.svg', 'Рюкзаки', 'services-page__item')
          +item('services/service-icon-24.svg', 'Форма и спецодежда', 'services-page__item')

    +promo()