.promo {
  background: $purple-bg;
  position: relative;
  overflow: hidden;
  &__inner {
    display: flex;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  &__content {
    width: 55%;
    padding: 40px 40px 80px 0;
  }

  &__slider {
    width: 45%;
    max-width: 868px;
    position: absolute;
    left: 55%;
    top: 0;
    bottom: 0;
  }

  &__askbtn {
    margin-top: 25px;
  }

  .slider {
    height: 100%;
    &__block {
      height: 100%;
    }
    &__nav {
      max-width: 500px;
    }
    &__item-inner {
      max-width: 500px;
    }
  }

  .slick-list,
  .slick-track {
    height: 100%!important;
  }

  @include media($screen-md){
    &__content {
      width: 50%;
      padding-bottom: 40px;
      padding-top: 30px;
    }
    &__slider {
      width: 50%;
      left: 50%;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__desc {
      font-size: 14px;
    }
  }

  @include media($screen-sm){
    &__desc {
      font-size: 13px;
    }
    &__subtitle {
      font-size: 14px;
    }
    &__askbtn {
      margin-top: 10px;
    }
  }

  @include media(650px){
    &__inner {
      flex-direction: column-reverse;
    }
    &__content,
    &__slider {
      width: 100%;
    }
    &__content {
      padding-right: 0;
    }
    &__slider {
      width: auto;
      position: static;
      margin-left: -30px;
      margin-right: -30px;
    }
  }
}