include ../slider/slider

mixin promo()
  .promo
    .wrapper
      .promo__inner
        .promo__content
          .promo__title.h2 Высокотехнологичная срочная машинная вышивка на заказ
          .promo__desc
            .promo__subtitle Уменьшение стоимости вышивки за счет собственных уникальных технологий и ноу-хау
            ul.styled-list
              li Тщательное программирование сложных вышивок с учетом типа ткани и дизайна вышивки.
              li Новейшие японские вышивальные машины Tajima.
              li Разработка программы вышивки за 1 рабочий день.
              li Гарантия качества 100%. Ручная проверка каждого изделия.
              li Доставка заказов по всей России.            
            a.promo__askbtn.btn(href="#popup-ask").js-popup Задать вопрос

        .promo__slider
          +slider()