.breadcrumb {
  display: flex;
  flex-wrap: wrap;

  &__link {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    margin-right: 36px;
    color: #000;

    &:not(.breadcrumb__link--current):after {
      content: url('../img/icons/breadcrumb-arrow.svg');
      position: absolute;
      right: -28px;
    }

    &--current {
      color: #828282;
    }
  }
}