.about {
  padding: 0 0 180px;

  &__banner {
    display: flex;
    margin-top: 50px;
  }

  &__banner-col {
    flex-grow: 1;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media($screen-md){
    padding-bottom: 100px;
    &__banner-col {
      margin-right: 20px;
    }
  }

  @include media($screen-sm) {
    padding-bottom: 0;
  }

  @include media($screen-xs){
    padding-bottom: 80px;
    &__banner {
      flex-direction: column;
      margin-left: -20px;
      &-col {
        &:first-child {
          max-width: 270px;
          margin-right: 0;
          margin-bottom: 16px;
        }
        &:last-child {
          max-width: 180px;
          align-self: flex-end;
        }
      }
    }
  }
}