mixin about()
  .about
    .wrapper
      .about__content
        p Pelloni была основана в 2005 году. Изначально мы занимались пошивом детских головных уборов. Со временем вектор нашего развития сместился, и мы начали в том числе заниматься вышивкой на крое и готовых изделиях. Сейчас это одно из ведущих направлений в компании.
        p В нашем цеху круглосуточно работает 7 мощных японских вышивальных машин Tajima, которые могут выполнять объемные заказы за считанные дни. Однако главная составляющая высокого качества наших услуг - сотрудники. У нас работают опытные программисты, которым под силу буквально за несколько часов создать программу даже для самого сложного заказа. При возникновении неполадок в работе машин проблему быстро решают опытные механики. В результате рабочий процесс никогда не останавливается и клиенты получают заказы вовремя.
        p Вышивка от Pelloni уже давно ассоциируется на рынке с оптимальным сочетанием цены и качества. Мы отлично разбираемся в особенностях вышивки, поэтому всегда подсказываем заказчику, как он может сэкономить, не теряя в качестве. 
        p Чтобы начать работать с нами, свяжитесь с менеджером любым удобным способом. Мы всегда в зоне доступа и с радостью поможем вам!
      .about__banner
        .about__banner-col
          img(src=require('@root/img/about-img-1.jpg')).about__banner-img
        .about__banner-col
          img(src=require('@root/img/about-img-2.jpg')).about__banner-img
