// popup
.popup {
  background: white;
  padding: 65px 35px 40px;
  text-align: left;
  max-width: 760px;
  margin: 40px auto;
  position: relative;

  &__title {
    margin-bottom: 24px;
  }

  .mfp-close {
    width: 46px;
    height: 46px;
    background: $accent;
    border-radius: 50%;
    opacity: 1;
    right: 35px;
    top: 20px;
    color: transparent;
    transition: .3s;
    &:after {
      content: url('../img/icons/cross.svg');
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.3);
      z-index: 2;
    }
    &:hover {
      box-shadow: 0px 6px 10px rgba(155, 81, 224, 0.4);
      background: lighten($accent, 10%);
    }
  }

  .tab {
    &__nav {
      margin-bottom: 30px;
    }
  }

  @include media($screen-xs){
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 75px;

    .mfp-close {
      right: 20px;
      top: 20px;
    }

    .form {
      &__flex {
        display: block;
      }
      &__col {
        width: 100%;
      }
    }

    &__button {
      width: 100%;
    }

    .tab {
      &__navlink {
        font-size: 10px;
        padding: 8px 12px;
        margin-right: 10px;
      }
    }
  }

}