include ../field-file/field-file

#popup-callback.popup.zoom-anim-dialog.mfp-hide
  .popup__inner
    .popup__title.h3 Заказать обратный звонок
    form.popup__form.form
      .form__flex
        .form__col
          .field
            input(type="text" placeholder="Ваше имя*").field__input
        .form__col
          .field
            input(type="text" placeholder="Телефон").field__input
      .form__bottom
        .form__bottom-col
          .form__agreement
            label.checkbox
              input(type="checkbox" checked)
              .checkbox__view
              .checkbox__content Нажимая на кнопку «Отправить», вы соглашаетесь на обработку своих персональных данных
        .form__bottom-col
          button.popup__button.btn Отправить

#popup-ask.popup.zoom-anim-dialog.mfp-hide
  .popup__inner
    .tab.js-tab
      .tab__nav
        a.js-tab-navlink(href="#popup-tab-1").tab__navlink.active задать вопрос
        a.js-tab-navlink(href="#popup-tab-2").tab__navlink запросить расчет заказа
      
      #popup-tab-1.tab__block.js-tab-block.active
        .popup__title.h3 Задать вопрос
        form.popup__form.form
          .form__flex
            .form__col
              .field
                input(type="text" placeholder="Ваше имя*").field__input
            .form__col
              .field
                input(type="text" placeholder="Телефон").field__input
          .field
            input(type="text" placeholder="Email*").field__input
          .field
            textarea(placeholder="Ваш вопрос").field__input
          .form__bottom
            .form__bottom-col
              .form__agreement
                label.checkbox
                  input(type="checkbox" checked)
                  .checkbox__view
                  .checkbox__content Нажимая на кнопку «Отправить», вы соглашаетесь на обработку своих персональных данных
            .form__bottom-col
              button.popup__button.btn Отправить
      
      #popup-tab-2.tab__block.js-tab-block
        .popup__title.h3 Запросить расчет заказа
        form.popup__form.form
          .form__flex
            .form__col
              .field
                input(type="text" placeholder="Ваше имя*").field__input
            .form__col
              .field
                input(type="text" placeholder="Телефон").field__input
          .field
            input(type="text" placeholder="Email*").field__input
          .field
            textarea(placeholder="Опишите вашу задачу и желаемые сроки выполнения заказа").field__input
          .field
            +field-file()
              
          .form__bottom
            .form__bottom-col
              .form__agreement
                label.checkbox
                  input(type="checkbox" checked)
                  .checkbox__view
                  .checkbox__content Нажимая на кнопку «Отправить», вы соглашаетесь на обработку своих персональных данных
            .form__bottom-col
              button.popup__button.btn Отправить