.self-prod {
  &__flex {
    display: flex;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__content {
    padding-right: 60px;
  }

  &__ceo {
    width: 310px;
    flex-shrink: 0;
  }

  .styled-list {
    li {
      p {
        margin-top: 0;
      }
    }
  }

  &__person-position {
    font-size: 15px;
    color: #6F6E6E;
  }

  @include media($screen-sm){
    &__ceo {
      width: 220px;
    }
    &__content {
      padding-right: 20px;
    }
    &__person-name {
      font-size: 14px;
    }
    &__person-position {
      font-size: 14px;
    }
  }
  @include media($screen-xs){
    &__flex {
      display: block;
    }
    &__content {
      padding-right: 0;
      margin-bottom: 30px;
    }
    &__ceo {
      width: 100%;
    }
  }
}

.we-helpto {
  padding-top: 0;

  &__title {
    margin-bottom: 38px;
  }

  &__item {
    width: calc(100% / 6 - 4px);
  }

  @include media($screen-sm){
    &__item {
      width: calc(100% / 3 - 4px);
      margin-bottom: 25px;
    }
  }
  @include media($screen-xs) {
    &__item {
      width: calc(100% / 2 - 4px);
    }
  }
}