include ../item/item

mixin self-prod()
  .self-prod.section
    .wrapper
      .self-prod__inner
        .self-prod__title.section__title.h2 Собственное производство на оборудовании, <br/> которое считается одним из лучших в мире
        .self-prod__flex
          .self-prod__content
            ul.styled-list
              li
                b Мы всегда делаем больше, чем ожидает от нас клиент
                p Вот уже более 15 лет мы выполняем оптовые заказы.  Вы можете заказать у нас машинную вышивку на одежде и других вещах любой сложности на грани технических возможностей одного из лучших в мире оборудования.
              li
                b Мы подскажем вам как сэкономить без потери в качестве
                p Например, использование аппликаций позволяет существенно снизить стоимость вышивки. Мы выстраиваем долгосрочные отношения с нашими клиентами и всегда находим оптимальные и выгодные технологии для решения ваших задач.
              li
                b У нас отличное оборудование
                p Это 7 мощных вышивальных японских машин Tajima, которые могут выполнять большие объемы заказов. Мы обновляем оборудование каждые 3 года, а в штате у нас работают опытные механики, которые моментально устраняют любую неполадку.

          .self-prod__ceo
            .player
              a.js-popup-youtube(href="https://www.youtube.com/watch?v=c8dd9f5MamU").player__preview
                img(src=require('@root/img/player-preview.jpg')).player__preview-img
                img(src=require('@root/img/icons/play-btn.svg')).player__btn
              .player__content
                blockquote 
                  p Лично несу ответственность за каждый заказ и гарантирую высокий уровень оказания услуг
                  .self-prod__person
                    .self-prod__person-name.h4 Заруев Сергей Олегович
                    .self-prod__person-position Директор Pelloni

  .we-helpto.section
    .wrapper
      .we-helpto__title.section__title.h2 Кому мы можем быть полезны
      .we-helpto__list
        +item('item-icon-9.svg', 'Швейные производства', 'we-helpto__item')
        +item('item-icon-10.svg', 'Торговые и коммерческие компании', 'we-helpto__item')
        +item('item-icon-11.svg', 'Предприятия общепита', 'we-helpto__item')
        +item('item-icon-12.svg', 'Школы и детские сады', 'we-helpto__item')
        +item('item-icon-13.svg', 'Охранные предприятия', 'we-helpto__item')
        +item('item-icon-14.svg', 'Спортивные клубы и команды', 'we-helpto__item')