@import './fonts';
@import './button';
@import './formFields';
@import './typography';
@import './grid';
@import '../blocks/tab';
@import '../blocks/field-file/field-file';

html,
:root {
  overflow-x: hidden;

  &.header-catalog-is-shown {
    overflow: hidden;
  }
}

body {
  font-family: $primary-font;
  color: $text-base;
  font-size: 16px;
  font-weight: normal;
  min-width: 320px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.75;

  @include media($screen-sm) {
    font-size: 14px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    position: relative;
    z-index: 5;
  }

  &__body {
    flex-grow: 1;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;

  @include media($screen-xs) {
    padding: 0 20px;
  }
}

img {
  max-width: 100%;
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/**
 * Fade-zoom animation for first dialog
*/

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	transform: scale(0.8);
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

/* ANIMATION on SCROLL */
$animation-delay: .2s;
$animation-translate: 70px;


.js-block-anim {
  transition: .7s;
  opacity: 0;
  transition-delay: $animation-delay;
  &.visible {
    opacity: 1;
    transform: translate(0, 0)!important;
  }
  &.anim-left {
    transform: translateX(-$animation-translate);
  }
  &.anim-right {
    transform: translateX($animation-translate);
  }
  &.anim-top {
    transform: translateY(-$animation-translate);
  }
  &.anim-bottom {
    transform: translateY($animation-translate);
  }

  &.anim-delay-2 {
    transition-delay: $animation-delay * 2;
  }
  &.anim-delay-3 {
    transition-delay: $animation-delay * 3;
  }
  &.anim-delay-4 {
    transition-delay: $animation-delay * 4;
  }
}

.slick-slide {
  outline: none !important;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0 0 0;
  padding: 0;
  list-style-type: none;
  button {
    display: none;
  }
}

.slick-track {
  display: flex;

  .slick-slide {
    display: flex;
    justify-content: center;
    height: auto;
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &.slick-prev {
    left: 0;
  }
  &.slick-next {
    right: 0;
  }
}

.tab-link {
  text-decoration: none;
}

.tab-nav {
  display: flex;
  margin-bottom: 30px;
}

.tab-block {
  display: none;
  &.active {
    display: block;
  }
}