/* Buttons */
.btn {
  font-family: $primary-font;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background: $accent;
  color: #fff;
  cursor: pointer;
  padding: 0 35px;
  height: 52px;
  min-width: 245px;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  transition: .3s;
  text-decoration: none;
  color: #fff;

  &:not([disabled]):hover {
    color: #fff;
    box-shadow: 0px 6px 10px rgba(155, 81, 224, 0.4);
    background: lighten($accent, 10%);
  }

  &[disabled] {
    background: $gray;
    cursor: not-allowed;
  }

  @include media($screen-xs){
    font-size: 14px;
  }

}