@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProRegular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProBold.otf');
  font-weight: bold;
}