input,
textarea {
  font-family: $primary-font;
  font-size: 14px;
  width: 100%;
  font-weight: 400;
  border: 1px solid $purple-lighter;
  border-radius: 25px;
  outline: none;
  padding-left: 22px;
  padding-right: 22px;
  color: #000;
  transition: .3s;

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    font-family: $primary-font;
  }

  &:focus {
    border-color: $accent;
  }
}

input {
  height: 50px;
  line-height: 50px;
}

textarea {
  height: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* FORM */
.form {
  &__flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
  }
  &__col {
    width: 50%;
    padding: 0 12px;
  }
  &__bottom {
    display: flex;
    &-col {
      flex-grow: 1;
      padding-right: 20px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  &__agreement {
    font-size: 12px;
    font-weight: 500;

    .checkbox__content,
    .radiobutton__content {
      font-size: 12px;
      font-weight: 500;
    }
  }

  @include media($screen-xs){
    &__bottom {
      display: block;

      &-col {
        padding-right: 0;
      }
      .form__agreement {
        margin-bottom: 20px;
      }
    }
  }
}

/* FIELD */
.field {
  margin-bottom: 30px;
  &__input {
    
  }
  &__label {
    font-size: 12px;
    margin-bottom: 6px;
  }

  &--error {
    .field__input {
      border: 1px solid #F20808;
    }
  }

  &__error {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #F20808;
    margin-top: 7px;
    padding-left: 25px;
    font-size: 11px;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 14px;
      height: 14px;
      padding: 3px;
      font-size: 13px;
      border-radius: 50%;
      background: #F20808;
      margin-right: 7px;
    }
  }
  
  @include media($screen-sm) {
    margin-bottom: 20px;
  }
}

.checkbox,
.radiobutton {
  display: flex;
  width: 100%;
  font-size: 14px;
  input {
    display: none;
    &:checked + .checkbox__view {
      background: $gradient;
      border-color: transparent;
      &:after {
        content: url('../img/icons/check.svg');
        position: absolute;
        left: 50%;
        top: 59%;
        transform: translate(-50%, -50%) scale(.8);
      }
    }
  }

  &__view {
    position: relative;
    width: 36px;
    height: 36px;
    margin-right: 14px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #E3E2F8;
    cursor: pointer;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    cursor: pointer;
  }
}

.radiobutton {
  @extend .checkbox;

  &__view {
    border-radius: 50%;
    // border-color: $gray;
    position: relative;

    &:after {
      content: '';
      display: none;
      position: absolute;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // background: $green;
    }
  }

  input {
    &:checked+.radiobutton__view:after {
      display: block;
    }
  }
}

.select2-container {
  min-width: 130px !important;
  outline: none !important;
  font-size: 14px;
  font-weight: 400;

  @include media($screen-xs) {
    min-width: 160px !important;
  }
}

.select2-container--default .select2-selection--single {
  border: none;
}

.select2-dropdown {
  border: none;
  // background: $vanilla;
}

.select2-selection__rendered {
  line-height: 42px !important;
}

.select2-container .select2-selection--single {
  height: 40px !important;
}

.select2-selection__arrow {
  height: 39px !important;
}

.select2-container--default .select2-selection--single {
  // background: $vanilla;
}

span.select2-selection.select2-selection--single {
  outline: none;
}

.select2-results__option.select2-results__option--highlighted {
  background: none !important;
  // color: $green !important;
}