//grid
.flex {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }

  &--column {
    flex-direction: column;
  }

  // align
  &--a-center {
    align-items: center;
  }

  &--a-start {
    align-items: flex-start;
  }

  &--a-end {
    align-items: flex-end;
  }

  //justify
  &--j-center {
    justify-content: center;
  }

  &--j-start {
    justify-content: flex-start;
  }

  &--j-end {
    justify-content: flex-end;
  }
}

.flexcol {
  flex-grow: 1;

  &-50 {
    width: 50%;
  }

  &-25 {
    width: 25%;
  }

  &-33 {
    width: calc(100% / 3);
  }
}