/* LINKS */
.link {
  display: inline;
  text-decoration: none;
  color: #000;
  outline: none;
  transition: .3s;
  border-bottom: 1px solid $accent;
  font-weight: bold;
  &:hover {
    color: $accent;
    border-bottom-color: transparent;
  }

  &--noline {
    border-bottom: none;
  }

  &--white {
    color: #fff;
    &:hover {
      color: $accent;
    }
  }
}

a:not(.link){
  text-decoration: none;
}

// TITLES
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $primary-font;
  font-weight: 800;
  line-height: 1.2;
  color: $purple-main;

  &--white {
    color: #fff
  }
}

h1, .h1 {
  font-size: 40px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

@include media($screen-md) {
  h1,
  .h1 {
    font-size: 32px;
  }

  h2,
  .h2 {
    font-size: 26px;
  }
}

@include media($screen-sm) {
  h1,
  .h1 {
    font-size: 30px;
  }
}

@include media($screen-xs) {
  h1,
  .h1 {
    font-size: 24px;
  }
  h2,
  .h2 {
    font-size: 20px;
    line-height: 1.5;
  }
  h3,
  .h3 {
    font-size: 18px;
  }
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: #fff;
}

.text-italic {
  font-style: italic;
}

.text-thin {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-upper {
  text-transform: uppercase;
}

ul.styled-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    padding-left: 50px;
    position: relative;
    margin-bottom: 12px;
    &:after {
      content: url('../img/icons/check.svg');
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
}

ol.styled-list {
  margin: 20px 0;
  padding: 0;
  counter-reset: counter;
  list-style-type: none;
  li {
    padding-left: 65px;
    position: relative;
    margin-bottom: 15px;
    &:after {
      counter-increment: counter;                 /* Инкрементирует счетчик*/
      content: counter(counter) ".";
      position: absolute;
      left: 0;
      top: -4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid $purple-lighter;
      background: #fff;
    }
  }
}

blockquote {
  position: relative;
  margin-left: 0;
  padding-left: 25px;
  padding-top: 15px;
  margin-right: 0;
  &:after {
    content: url('../img/icons/blockquote-icon.svg');
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  p {
    margin-top: 0;
  }
}


.typography {
  h3 {
    margin: 35px 0 15px;
  }
  figure {
    margin: 40px auto 40px auto;
    max-width: 850px;
  }

  figcaption {
    font-size: 14px;
    color: #828282;
    padding-left: 40px;
    margin-top: 20px;
  }

}

.table-wrap {
  overflow-x: auto;
}

table.styled-table {
  width: 100%;
  border: 1px solid $purple-bg;
  td {
    padding: 8px 20px;
    border: 1px solid $purple-bg;
    font-size: 14px;
  }
  thead {
    th, td {
      background: $purple-bg;
      padding: 8px 20px;
      font-size: 16px;
      line-height: 1.4;
      color: $purple-main;
      &:not([align]){
        text-align: left;
      }
      &:not(.text-regular){
        font-weight: bold;
      }
    }
  }

  @include media($screen-md){
    td {
      min-width: 100px;
    }
    thead {
      th, td {
        font-size: 14px;
        padding: 8px 10px;
      }
    }
  }
}