
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'GothamPro';

// PALITE
$purple-main: #130246;
$purple-bg: #F7F7FF;
$purple-lighter: #C9CDFC;
$accent: #CB02A8;
$gradient: linear-gradient(259.98deg, #EEF1FF 0%, #FDF2FF 100%);
$text-base: #333333;
$gray: #E0E0E0;

$gray-dark: #4F4F4F;
$dark-green: #1A4D46;

//MEDIA breakpoints
$screen-lg: 1200px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 560px;