mixin cookie()
  .cookie
    .wrapper
      .cookie__inner.typography
        p Сайт Pelloni был создан как информационный ресурс для существующих и потенциальных партнеров программы лояльности Pelloni.
        p Войдя на сайт, Вы соглашаетесь соблюдать условия его использования, описанные ниже. Если Вы не согласны с условиями, не используйте сайт и не скачивайте с него информацию. Pelloni оставляет за собой право в одностороннем порядке изменять, дополнять либо отменять любые из этих условий в любое время, без отдельного оповещения.

        h2 Защита интеллектуальной собственности
        p Pelloni защищает авторские права на все статьи на сайте Pelloni, если иное не предусмотрено или прямо не указано. Все права защищены. Pelloni предоставляет вам неисключительную и не подлежащую передаче лицензию на использование сайта следующим образом:
        
        ul.styled-list
          li Просмотр и загрузка информации, доступной на сайте
          li Использование информации на сайте в соответствии с описанными в данном разделе условиями.
        
        p Pelloni защищает авторские права на все статьи на сайте Pelloni, если иное не предусмотрено или прямо не указано. Все права защищены. Pelloni предоставляет вам неисключительную и не подлежащую передаче лицензию на использование сайта следующим образом:

        h3 Правовая оговорка
        p Мы не даем никаких гарантий, явных или подразумеваемых, в отношении точности, достоверности или содержимого сайта. Pelloni не гарантирует, что сайт или обеспечивающие его серверы не содержат в себе ошибок, вирусов или прочих вредоносных компонентов. Pelloni оставляет за собой право изменять сайт или прекращать доступ к нему, действуя по своему абсолютному усмотрению.
        p Содержание сайта может устаревать и Pelloni не обязуется обновлять материалы или сервисы. Pelloni не несет ответственности за ошибки в содержании представленной информации, материалов или сервисов, предоставленных третьими сторонами, относящиеся к сайту, либо имеющих на них ссылки.
        p Ссылки на другие компании или сайты, их сервисы и продукцию предоставляются Pelloni без каких-либо гарантий. Pelloni, ее лицензиары, партнеры и поставщики ни в коей мере не несут ответственности перед Вами, либо третьими лицами за любые косвенные, общие, случайные убытки или другие убытки (включая, без ограничения, потерю прибыли, потерю бизнеса, повреждение файлов, утечку деловой информации или любые другие виды ущерба). Никакая устная или письменная информация или советы, данные непосредственно нами или же другими лицами не гарантирует ни вам, ни третьей стороне возможность полностью полагаться на таковую.
        p Использование сайта, скачивание информации с него и использование любых материалов производится Вами на свой страх и риск, и Вы самостоятельно несете ответственность за возможное повреждение вашего компьютера, либо потерю данных в результате описанных действий.
        p Никакая информация (устная или письменная), полученная Вами от Pelloni, либо на сайте Pelloni не создает никаких гарантий, прямо не прописанных в данном Соглашении.
        p Cайт Pelloni доступен из всех стран Европы и мира и может содержать информацию, относящуюся к продукции, сервисам и программам Pelloni, недоступным в Вашей стране. Такая информация не означает намерения Pelloni предоставить эту продукцию, сервис или программу в Вашей стране.

        h3 Использование информации
        p Если Вы предоставляете любую информацию для сайта Pelloni Вы соглашаетесь, что Pelloni вправе использовать данную информацию по своему усмотрению любым не запрещенным законом (в том числе законом об авторских правах) способом. Вы также обязуетесь не загружать, либо предоставлять иным способом информацию, являющуюся дискредитирующей, ложной, либо являющейся противозаконной, нарушающей авторское право либо иные вещные права третьих лиц.

        h3 Изменение соглашения
        p Данное соглашение заключено между Вами и Pelloni, касается деятельности Европейского сайта Pelloni и заменяет собой все заключенные ранее соглашения (устные и письменные) между Вами и Pelloni. Данное соглашение может быть заменено новым подписанным соглашением, либо Pelloni может изменить Соглашение, опубликовав новые Условия и Правила на том же месте сайта, где они ранее были опубликованы. Если при этом Вы продолжаете пользоваться ресурсами сайта, считается, что вы приняли обновленные условия.

        h3 Cookies
        p Cookies — это небольшой объем данных, которые посылает Вам сервер и временно сохраняется в Вашем компьютере. Эти данные хранят историю ваших действия на сайте и обеспечивают максимально удобное для Вас использование сайта. Если Вы не хотите сохранять эту информацию на Вашем компьютере, Вы можете установить соответствующие настройки Вашего браузера. Опция «помощи» вашего браузера поможет Вам в этом. Если вы отключите опцию сохранения Cookies, вы не сможете использовать функции сайта, которые требуют некоторую информацию о Вас для начала работы с ними.

        h3 Ссылки
        p Сайт YOKOHAMA может содержать ссылки на сайты третьих лиц, неконтролируемых Pelloni. Pelloni не несет ответственность за любые действия других сайтов, на которые наш сайт размещает ссылки. Pelloni может только утверждать, что на момент создания ссылки сайт не содержал никакого незаконного контента. Pelloni не имеет никакого влияния на действующее либо будущее содержание этих сайтов. При переходе на другой сайт, Вы делаете это на свой страх и риск и Pelloni не несет ответственности за точность и надежность любой информации, данных, сведений, советов и утверждений, содержащихся на данных сайтах, также как и за качество сервисов и продукции поставляемых данными сайтами и за любой вред либо потери, причиненные использованием размещенной на сайтах информации и сервисов. Pelloni размещает ссылки на другие сайты исключительно для Вашего удобства и такое размещение не подразумевает ответственность Pelloni за содержание данных сайтов.

        h3 Законность
        p Если по тем или иным причинам одно или несколько положений настоящего Соглашения будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений.

        h3 Политика конфиденциальности
        p YOKOHAMA осознает необходимость уважительного отношения и защиты конфиденциальности наших покупателей и посетителей нашего Европейского веб-сайта. Это определяет нашу политику относительно работы с персональными данными: а именно, какие данные мы получаем через сайт, как мы их используем, кому мы можем их раскрыть и как Вы можете связаться с нами в случае возникновения вопросов, касающихся данной темы. Объем персональной информации, получаемой нами от Вас через наш веб-сайт, зависит от вашего использования сайта. Вне зависимости от характера полученной о Вас информации, Вы можете быть абсолютно уверены, что мы будем сохранять ее конфиденциальность и использовать либо раскрывать ее в соответствии с данными требованиями конфиденциальности, либо по требованию законодательства.

        h3 Персональные данные: Конфиденциальность
        p YOKOHAMA использует полученную от вас информацию только для внутренних бизнес-целей. Любая представленная Вами информация будет храниться в защищенном файле, который доступен только для определенного круга работников YOKOHAMA, использующих эти данные для выполнения своих служебных обязанностей. Данная информация не разглашается другим организациям либо частным лицам. YOKOHAMA может раскрыть информацию в особенных случаях, когда у нас есть основания полагать, что раскрытие информации необходимо для поиска людей, нарушающих политику конфиденциальности, либо условия использования сайта. Аналогичная политика применяется и в случае подозрения в том, что кто-то может причинить ущерб правам и имуществу YOKOHAMA, других пользователей сайта либо кому-то еще.

        h3 Цель сбора информации
        p Основная цель сбора персональных данных — обеспечение удобства нашим пользователям. А именно, персонализация сервиса, интерактивное общение, и многие другие виды услуг. Зная немного о Вас, YOKOHAMA может обеспечить лучший сервис и возможность получить на сайте информацию, необходимую именно вам.

        h3 Отмена согласия на хранение персональных данных
        p Ваше согласие на хранение и использование Ваших персональных данных может быть отменено в любой момент. Если вы хотите отозвать согласие, пошлите письмо на marketing@yokohama.ru, в теме укажите «Отзыв согласия на обработку персональных данных».

        h3 Ошибочная информация
        p Если информация, представленная Вами YOKOHAMA изменилась или устарела, пожалуйста, сообщите нам и мы внесем необходимые коррективы.

        h3 Внешние ресурсы
        p Cайт YOKOHAMA содержит в себе ссылки на другие веб-сайты. YOKOHAMA не контролирует эти ресурсы и поэтому не несет никакой ответственности за использование персональных данных этими сайтами.

        h3 Внешние ресурсы
        p Наш сайт использует аналитику Google - аналитический сервис-сайт, предоставленный компанией Google. Inc. Сервис использует «cookies», хранящиеся в текстовых файлах на вашем компьютере, чтобы собрать информацию об использовании сайта посетителями. Информация об использовании Вами сайта, сохраненная в cookies (в том числе ваш IP-адрес, усеченный использованием метода «anonymizeIp») передается компании Google. Inc. и хранится на серверах в США. Компания Google. Inc. собирает эту информацию для оценки использования Вами сайта, составления данных об активности сайта для его администрации, и выполнения ряда других функций, касающихся активности сайта и его использования. Google также может передавать данные третьим лицам по требованию законодательства, либо для ее обработки по заказу самого Google. Google не привязывает Ваш IP-адрес ни к какой иной информации о Вас. Вы можете отказаться от использования cookies, установив соответствующие настройки в Вашем браузере, однако обратите внимание, что в этом случае Вы не сможете использовать веб-сайты в полном объеме. Войдя на веб-сайт, Вы автоматически соглашаетесь на использование информации о Вас Google описанным выше образом. Вы можете отказаться от использования Ваших данных анализатором Google, установив специальную программу для вашего браузера http://tools.google.com/dlpage/gaoptout?hl=en.