.customers {
  background: $purple-bg;
  padding: 60px 0 80px;

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 6);
    padding: 0 20px;
    margin-bottom: 40px;
  }

  &__callus {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0 30px;
  }

  &__btnwrap {
    display: flex;
    justify-content: center;
  }

  @include media($screen-sm){
    &__item {
      width: 25%;
    }
  }

  @include media($screen-xs){
    padding: 45px 0;
    &__list {
      margin: 0 -20px;
    }
    &__item {
      width: 50%;
      padding: 0 20px;
      margin-bottom: 20px;
    }
    &__callus {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }

}