mixin customers()
  .customers.section
    .wrapper
      .customers__inner
        .customers__title.section__title.h2 Нас выбирают ведущие российские компании
        .customers__list
          .customers__item: img(src=require('@root/img/customers/customer-1.png')).customers__img
          .customers__item: img(src=require('@root/img/customers/customer-2.png')).customers__img
          .customers__item: img(src=require('@root/img/customers/customer-3.png')).customers__img
          .customers__item: img(src=require('@root/img/customers/customer-4.png')).customers__img
          .customers__item: img(src=require('@root/img/customers/customer-5.png')).customers__img
          .customers__item: img(src=require('@root/img/customers/customer-6.png')).customers__img
          .customers__item: img(src=require('@root/img/customers/customer-7.png')).customers__img
          .customers__item: img(src=require('@root/img/customers/customer-8.png')).customers__img
          .customers__item: img(src=require('@root/img/customers/customer-9.png')).customers__img
          .customers__item: img(src=require('@root/img/customers/customer-10.png')).customers__img
          .customers__item: img(src=require('@root/img/customers/customer-11.png')).customers__img
          .customers__item: img(src=require('@root/img/customers/customer-12.png')).customers__img
        
        .customers__callus Хотите обсудить заказ? Звоните <b>+7 (4872) 40-51-34</b>
        .customers__btnwrap
          a.btn(href="#popup-ask").customers__btn.js-popup Задать вопрос