.service-single {
  &__inner {
    display: flex;
  }

  &__nav {
    width: 260px;
    flex-shrink: 0;
  }

  &__navlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__navlink {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: -10px;
      top: 0;
      width: 3px;
      height: 100%;
      background: transparent;
      transition: .25s;
    }
    &--active {
      color: $accent;
      border-bottom-color: transparent;
      &:after {
        background: $accent;
      }
    }
  }

  &__navitem {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }

  &__slider {
    margin: 35px 0 50px;
  }

  &__body {
    flex-grow: 1;
    width: calc(100% - 260px);
    padding-left: 30px;
    padding-bottom: 100px;
    p:first-of-type {
      margin-top: 0;
    }
  }

  @include media($screen-md){
    &__nav {
      width: 225px;
    }
    &__body {
      font-size: 14px;
    }

    &__slider {
      margin: 30px 0;
    }
  }

  @include media(650px){
    &__inner {
      display: block;
    }

    &__nav {
      width: 100%;
      margin-bottom: 30px;
    }

    &__navlist {
      flex-wrap: wrap;
      flex-direction: row;
    }

    &__navitem {
      margin-right: 25px;
      margin-bottom: 15px;
    }

    &__body {
      width: 100%;
      padding-left: 0;
      padding-bottom: 60px;
    }
  }
}