include ../slider/slider

mixin service-single()
  .service-single
    .wrapper
      .service-single__inner
        .service-single__nav
          .service-single__navlist
            .service-single__navitem
              a.link(href="#!").service-single__navlink Спортивная форма
            .service-single__navitem
              a.link(href="#!").service-single__navlink Майки/футболки
            .service-single__navitem
              a.link(href="#!").service-single__navlink Поло
            .service-single__navitem
              a.link(href="#!").service-single__navlink Рубашки
            .service-single__navitem
              a.link(href="#!").service-single__navlink Толстовки
            .service-single__navitem
              a.link(href="#!").service-single__navlink Костюмы
            .service-single__navitem
              a.link(href="#!").service-single__navlink Брюки/джинсы/шорты
            .service-single__navitem
              a.link(href="#!").service-single__navlink Кепки, (бейсболки)
            .service-single__navitem
              a.link(href="#!").service-single__navlink Шапки, шарфы, варежки
            .service-single__navitem
              a.link(href="#!").service-single__navlink Панамы
            .service-single__navitem
              a.link(href="#!").service-single__navlink Галстуки
            .service-single__navitem
              a.link(href="#!").service-single__navlink Фартуки
            .service-single__navitem
              a.link(href="#!").service-single__navlink Халаты
            .service-single__navitem
              a.link(href="#!").service-single__navlink.service-single__navlink--active Полотенца
            .service-single__navitem
              a.link(href="#!").service-single__navlink Жилетки
            .service-single__navitem
              a.link(href="#!").service-single__navlink Школьная форма
            .service-single__navitem
              a.link(href="#!").service-single__navlink Вышивка металлизированной нитью
            .service-single__navitem
              a.link(href="#!").service-single__navlink Вышивка на крое
            .service-single__navitem
              a.link(href="#!").service-single__navlink 3D-вышивка
            .service-single__navitem
              a.link(href="#!").service-single__navlink Аппликация
            .service-single__navitem
              a.link(href="#!").service-single__navlink Вышивка бирок
            .service-single__navitem
              a.link(href="#!").service-single__navlink Медицинская одежда
            .service-single__navitem
              a.link(href="#!").service-single__navlink Рюкзаки
            .service-single__navitem
              a.link(href="#!").service-single__navlink Форма и спецодежда
        .service-single__body
          p Вышивку логотипа на полотенцах часто заказывают владельцы отелей и оздоровительных учреждений, однако услуга машинного нанесения надписей и изображений очень востребована у других компаний тоже. Мы вышиваем рисунки на полотенцах, а также украшаем лого и эмблемами махровые халаты, постельное белье и другие предметы.
          p Полотенце с вышивкой на заказ может стать отличным подарком для сотрудников. Такие изделия оригинальны и стоят всегда дороже простых аналогов, поэтому небольшие швейные производства могут поднимать благодаря им объемы продаж. Воспользуйтесь нашими готовыми наработками, закажите индивидуальный рисунок или предложите собственный эскиз. 
          
          .service-single__slider
            +slider()
          
          h4 Преимущества нашего производства:

          ul.styled-list
            li Pelloni оснащена современным оборудованием – 7 мощных вышивальных японских машин Tajima могут выполнять большие объемы заказов в короткое время;
            li Программа для вышивки разрабатывается максимально быстро и с учетом ткани, на которую будет наноситься изображение.
          
          p Вышитые рисунки имеют четкие ровные стежки, сочные яркие цвета. Украшенные изделия прослужат долго, узор не выгорит и не потускнеет со временем, останется таким же ярким даже после множества стирок.
          p У нас можно заказать полотенца с вышивкой мелким и крупным оптом. Если заказ очень срочный, возможна частичная отгрузка через сутки после оформления заявки.
