mixin 404()
  .page-404
    .wrapper
      .page-404__inner
        .page-404__content
          .page-404__title.h1 Страница не найдена
          .page-404__desc.h4 Возможно страница удалена, перемещена или никогда не существовала. Мы предлагаем:
          .page-404__text
            ul.styled-list
              li Проверить правильность написания адреса
              li Перейти на главную страницу сайта.
              li Выбрать интересующий раздел в меню
          
        .page-404__banner
          img(src=require('@root/img/404-banner.png'))