.page-404 {
  background: $purple-bg;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 480px;
    min-width: 400px;
    padding: 80px 0;
    width: 100%;
    margin-right: -50px;
  }

  &__banner {
    margin-right: -240px;
    img {
      max-width: unset;
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__desc {
    margin-bottom: 30px;
    line-height: 1.6;
  }

  @include media($screen-md){
    &__banner {
      margin-right: 0;
      img {
        max-width: 120%;
      }
    }

    &__content {
      min-width: unset;
      max-width: 420px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__desc {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  @include media($screen-sm){
    &__banner {
      img {
        max-width: 152%;
        margin-left: -50px;
      }
    }
  }

  @include media($screen-xs) {
    &__inner {
      display: block;
    }

    &__title {
      font-size: 22px;
    }

    &__content {
      width: 100%;
      max-width: 100%;
      padding: 30px 0 20px;
    }

    &__banner {
      img {
        max-width: 144%;
        margin-left: -68px;
      }
    }
  }
}