.player {
  &__preview {
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    &:hover {
      .player__btn {
        transform: translate(-50%, -50%) scale(1.5);
      }
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: .3s;
  }
}