.tab {
  &__nav {
    display: flex;
    overflow-x: auto;

    &--center {
      justify-content: center;
    }
  }

  &__navlink {
    background: $purple-bg;
    font-size: 11px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 25px;
    transition: .25s;
    margin-right: 15px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #828282;
    min-width: 175px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background: $purple-lighter;
      text-decoration: none;
      color: $text-base;
    }
  }

  &__block {
    height: 0px;
    overflow-y: hidden;
    
    &.active {
      height: auto;
      overflow: unset;
    }
  }

  @include media($screen-sm){
    &__navlink {
      font-size: 12px;
      margin-right: 10px;
      padding: 8px 16px;
    }
  }
}