.item {
  padding: 0 15px;
  display: inline-block;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      .item__name {
        color: $accent;
        border-bottom-color: transparent;
      }
    }
  }

  &__icon {
    margin-bottom: 20px;
  }

  &__text {
    transition: color .3s;
    text-align: center;
    max-width: 215px;
    display: inline;
    transform: translateX(-15px);
    line-height: 1.6;
  }

  &--reverse {
    .item__inner {
      flex-direction: column-reverse;
    }
    .item__icon {
      margin-top: 15px;
      margin-bottom: 0;
    }
  }

  @include media($screen-xs){
    &__text {
      font-size: 14px;
      transform: none;
    }
  }
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}