mixin item(icon, name, classname, colReverse)
  .item(class=classname)(class= colReverse ? "item--reverse" : "")
    a(href="#!").item__inner
      img(src=require(`@root/img/items/${icon}`)).item__icon
      .item__text
        .item__name.link= name
  