.services {
  &__item {
    width: 23.9%;
    margin-bottom: 80px;
    font-size: 18px;
  }

  &__list {
    margin-bottom: -80px;
  }

  @include media($screen-md){
    &__item {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  @include media(650px){
    &__item {
      width: calc(100% / 3 - 3px);
    }
  }
  @include media(480px){
    padding-top: 40px;
    &__title {
      margin-bottom: 20px;
    }
    &__list {
      margin-bottom: -45px;
    }
    &__item {
      width: calc(100% / 2 - 3px);
      margin-bottom: 45px;
    }
  }
}