include ../item/item

mixin services()
  .services.section
    .wrapper
      .services__title.h2.section__title Выполняем заказы любой сложности и объемов
      .services__text.section__text
        p Мы не просто размещаем вышивку, а делаем так, чтобы вещь стала выглядеть дороже, приобрела “характер” и эксклюзивный внешний вид. Именно машинная вышивка – самый долговечный и практичный способ нанесения. С её помощью создают корпоративный стиль и брендируют сувениры. Мы изготавливаем вышивку надписей, логотипов и узоров на крое, на различных видах одежды (футболках, брюках, халатах и т. д.), головных уборах, сумках, автомобильных чехлах и ковриках, флагах. Наши возможности безграничны.

      .items-list.services__list
        +item('item-icon-1.svg', 'Вышивка на крое', 'services__item', true)
        +item('item-icon-2.svg', 'Шевроны  и нашивки', 'services__item', true)
        +item('item-icon-3.svg', 'Аппликация', 'services__item', true)
        +item('item-icon-4.svg', 'Вышивка на одежде', 'services__item',true)
        +item('item-icon-5.svg', 'Вышивка на текстиле', 'services__item',true)
        +item('item-icon-6.svg', 'Вышивка логотипов', 'services__item',true)
        +item('item-icon-7.svg', 'Дизайнерская вышивка', 'services__item',true)
        +item('item-icon-8.svg', 'Отделка стразами', 'services__item',true)