.header-catalog-is-shown {
  .header-catalog {
    display: block;
  }
}

.header-catalog {
  display: none;
  background: $purple-main;
  color: #fff;
  padding-top: 15px;

  .wrapper {
    height: 100%;
  }

  &__flex {
    display: flex;
    height: 100%;
  }

  &__left {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  &__right {
    width: 340px;
    flex-shrink: 0;
    padding: 0 70px 140px;
    position: relative;

    &:after {
      content: '';
      background: #100334;
      position: absolute;
      width: 9999px;
      top: -999px;
      margin-left: -70px;
      bottom: 0;
    }
  }

  &__col {
    width: 50%;
    padding-right: 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin-bottom: 12px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    display: inline-block;
  }

  &__item {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__navwrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 150px;
  }

  &__navlink {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__btn {
    flex-shrink: 0;
  }

  &__actions {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  &__actionlink {
    margin-bottom: 5px;
    &:first-child {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media(1000px){
    &__right {
      width: 300px;
      padding: 0 38px 140px;
      &:after {
        margin-left: -40px;
      }
    }

    &__navlink {
      font-size: 16px;
    }
  }

  @include media($screen-sm){
    &__right {
      width: 240px;
      padding-left: 20px;
      &:after {
        margin-left: -20px;
      }
    }
    &__item {
      font-size: 13px;
    }
    &__title {
      font-size: 14px;
    }
    &__btn {
      min-width: 220px;
    }
  }

   @include media($screen-xs) {
     &__flex {
       display: block;
     }

     &__left {
       width: 100%;
       display: block;
       padding-bottom: 15px;
     }

     &__right {
       width: auto;
       background: #100334;
       margin-left: -20px;
       margin-right: -20px;
       padding: 30px 20px 30px;

       &:after {
         display: none;
       }
     }

     &__nav {
      margin-bottom: 0;
     }

     &__btn {
       display: none;
     }
     
     &__actions {
       display: flex;
     }

     &__col {
       width: 100%;
     }

     &__list {
       display: none;
     }
   }
}