mixin header-catalog()
  .header-catalog.js-header-catalog
    .wrapper
      .header-catalog__flex
        .header-catalog__left
          .header-catalog__col
            .header-catalog__group
              a(href="#!").link.link--white.link--noline.header-catalog__title Вышивка на одежде
              .header-catalog__list
                a(href="#!").header-catalog__item.link.link--white.link--noline  Спортивная форма
                a(href="#!").header-catalog__item.link.link--white.link--noline  Майки/футболки
                a(href="#!").header-catalog__item.link.link--white.link--noline  Поло
                a(href="#!").header-catalog__item.link.link--white.link--noline  Рубашки
                a(href="#!").header-catalog__item.link.link--white.link--noline  Толстовки
                a(href="#!").header-catalog__item.link.link--white.link--noline  Костюмы
                a(href="#!").header-catalog__item.link.link--white.link--noline  Брюки/джинсы/шорты
                a(href="#!").header-catalog__item.link.link--white.link--noline  Кепки (бейсболки)
                a(href="#!").header-catalog__item.link.link--white.link--noline  Шапки, шарфы, варежки
                a(href="#!").header-catalog__item.link.link--white.link--noline  Панамы
                a(href="#!").header-catalog__item.link.link--white.link--noline  Галстуки
                a(href="#!").header-catalog__item.link.link--white.link--noline  Фартуки
                a(href="#!").header-catalog__item.link.link--white.link--noline  Халаты
                a(href="#!").header-catalog__item.link.link--white.link--noline  Полотенца
                a(href="#!").header-catalog__item.link.link--white.link--noline  Жилетки
                a(href="#!").header-catalog__item.link.link--white.link--noline  Школьная форма
                a(href="#!").header-catalog__item.link.link--white.link--noline  Вышивка металлизированной нитью
                a(href="#!").header-catalog__item.link.link--white.link--noline  Вышивка на крое
          
          .header-catalog__col
            .header-catalog__group
              .header-catalog__list
                a(href="#!").header-catalog__item.link.link--white.link--noline 3D-вышивка
                a(href="#!").header-catalog__item.link.link--white.link--noline Аппликация
                a(href="#!").header-catalog__item.link.link--white.link--noline Вышивка бирок
                a(href="#!").header-catalog__item.link.link--white.link--noline Вышивка на медицинской одежде
                a(href="#!").header-catalog__item.link.link--white.link--noline Вышивка на рюкзаке
                a(href="#!").header-catalog__item.link.link--white.link--noline Форма и спецодежда

            .header-catalog__group
              a(href="#!").link.link--white.link--noline.header-catalog__title Вышивка логотипа

            .header-catalog__group
              a(href="#!").link.link--white.link--noline.header-catalog__title Шевроны

            .header-catalog__group
              a(href="#!").link.link--white.link--noline.header-catalog__title Нашивки на заказ

            .header-catalog__group
              a(href="#!").link.link--white.link--noline.header-catalog__title Термотрансфер
              .header-catalog__list
                a(href="#!").header-catalog__item.link.link--white.link--noline Детские
                a(href="#!").header-catalog__item.link.link--white.link--noline Корпоративные
                a(href="#!").header-catalog__item.link.link--white.link--noline Фанатские
                a(href="#!").header-catalog__item.link.link--white.link--noline Спортивные школы
                a(href="#!").header-catalog__item.link.link--white.link--noline Байкерские
                a(href="#!").header-catalog__item.link.link--white.link--noline Военные
                a(href="#!").header-catalog__item.link.link--white.link--noline Резиновая нашивка

        .header-catalog__right
          .header-catalog__navwrap
            .header-catalog__nav
              a.link(href="#!").link--white.link--noline.header-catalog__navlink Цены
              a.link(href="#!").link--white.link--noline.header-catalog__navlink Портфолио
              a.link(href="#!").link--white.link--noline.header-catalog__navlink О компании
              a.link(href="#!").link--white.link--noline.header-catalog__navlink Доставка
              a.link(href="#!").link--white.link--noline.header-catalog__navlink Контакты

            a.btn(href="#!").header-catalog__btn Отправить заявку

            .header-catalog__actions
              a.link.link--white(href="#!").header-catalog__actionlink Отправить заявку
              a.link.link--white(href="#popup-callback").header-catalog__actionlink.js-popup Перезвоните мне
              a.link.link--white.link--noline(href="tel:+7 (4872) 40-51-34").header-catalog__actionlink +7 (4872) 40-51-34