extends ../layout/layout

include ../blocks/customers/customers
include ../blocks/pagehead/pagehead
include ../blocks/about/about


block title
  title О нас

block content
  +pagehead('Pelloni: срочная вышивка с упором на качество и технологичность')
  +about()
  +customers()