extends ../layout/layout
include ../blocks/promo/promo
include ../blocks/slider/slider
include ../blocks/services/services
include ../blocks/technology/technology
include ../blocks/self-prod/self-prod
include ../blocks/flow/flow
include ../blocks/customers/customers
include ../blocks/prices/prices

block title
  title Главная страница

block content

  +promo()
  +services()
  +technology()
  +self-prod()
  +flow()
  +prices()
  +customers()