<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap&subset=cyrillic-ext" rel="stylesheet")
    title Pelloni
    style.
      body {
        font-family: 'Roboto';
      }
      .wrapper{
        max-width: 1400px;
        margin: 80px auto;
      }
      li {
        margin-bottom: 10px;
      }
      a {
        color: #22297A;
      }
    
  body
    .wrapper
      h1 Страницы проекта "Pelloni"
      ol
        li: a(target="_blank" href="./home.html") Главная
        li: a(target="_blank" href="./about.html") О нас
        li: a(target="_blank" href="./services.html") Услуги
        li: a(target="_blank" href="./service-single.html") Услуга
        li: a(target="_blank" href="./404.html") 404
        li: a(target="_blank" href="./contacts.html") Контакты
        li: a(target="_blank" href="./cookie.html") Куки
        li: a(target="_blank" href="./uikit.html") UI-Kit