extends ../layout/layout

include ../blocks/pagehead/pagehead
include ../blocks/service-single/service-single

block title
  title Услуга

block content
  +pagehead('Вышивка на полотенце')
  +service-single()