extends ../layout/layout

include ../blocks/pagehead/pagehead
include ../blocks/slider/slider
include ../blocks/field-file/field-file

block title
  title UI kit

block content
  +pagehead('H1. Вышивка логотипов в Pelloni – качество, красота, креативность')
  div(style="margin-bottom: 50px")
    .wrapper
      .typography
        p Мы не просто размещаем вышивку, а делаем так, чтобы вещь стала выглядеть дороже, приобрела “характер” и эксклюзивный внешний вид. Именно машинная вышивка – самый долговечный и практичный способ нанесения. С её помощью создают корпоративный стиль и брендируют сувениры. Мы изготавливаем вышивку надписей, логотипов и узоров на крое, на различных видах одежды (футболках, брюках, халатах и т. д.), головных уборах, сумках, автомобильных чехлах и ковриках, флагах. Наши возможности безграничны.
        
        h2 H2. Вышивка логотипов в Pelloni – качество, красота, креативность
        p Мы не просто размещаем вышивку, а делаем так, чтобы вещь стала выглядеть дороже, приобрела “характер” и эксклюзивный внешний вид. Именно машинная вышивка – самый долговечный и практичный способ нанесения. С её помощью создают корпоративный стиль и брендируют сувениры. Мы изготавливаем вышивку надписей, логотипов и узоров на крое, на различных видах одежды (футболках, брюках, халатах и т. д.), головных уборах, сумках, автомобильных чехлах и ковриках, флагах. Наши возможности безграничны
        
        h3 H3. Очень длинный заголовок. Высокотехнологичная срочная машинная вышивка на заказ 
        p Вышивку логотипа на полотенцах часто заказывают владельцы отелей и оздоровительных учреждений, однако услуга машинного нанесения надписей и изображений очень востребована у других компаний тоже. Мы вышиваем рисунки на полотенцах, а также украшаем лого и эмблемами махровые халаты, постельное белье и другие предметы.
        p Полотенце с вышивкой на заказ может стать отличным подарком для сотрудников. Такие изделия оригинальны и стоят всегда дороже простых аналогов, поэтому небольшие швейные производства могут поднимать благодаря им объемы продаж. Воспользуйтесь нашими готовыми наработками, закажите индивидуальный рисунок или предложите собственный эскиз. 

        h4 H4. Высокотехнологичная срочная машинная вышивка на заказ. Цены на нанесение вышивки на бейсболки и кепки зависят от нескольких факторов: 
        p Вышивку логотипа на полотенцах часто заказывают владельцы отелей и оздоровительных учреждений, однако услуга машинного нанесения надписей и изображений очень востребована у других компаний тоже. Мы вышиваем рисунки на полотенцах, а также украшаем лого и эмблемами махровые халаты, постельное белье и другие предметы.
        p Полотенце с вышивкой на заказ может стать отличным подарком для сотрудников. Такие изделия оригинальны и стоят всегда дороже простых аналогов, поэтому небольшие швейные производства могут поднимать благодаря им объемы продаж. Воспользуйтесь нашими готовыми наработками, закажите индивидуальный рисунок или предложите собственный эскиз. 

        figure
          img(src=require('@root/img/ui-kit-img.jpg'))
          figcaption Подпись под фото или видео. У нас можно сделать кепки с вышивкой в сжатые сроки. Обычно выполнение заказа не занимает больше одной недели.
        
        h4 H4. Высокотехнологичная срочная машинная вышивка на заказ
        ul.styled-list
          li Pelloni оснащена современным оборудованием – 7 мощных вышивальных японских машин Tajima могут выполнять большие объемы заказов в короткое время;
          li Программа для вышивки разрабатывается максимально быстро и с учетом ткани, на которую будет наноситься изображение.
        h4 H4. Высокотехнологичная срочная машинная вышивка на заказ
        
        ol.styled-list
          li Pelloni оснащена современным оборудованием – 7 мощных вышивальных японских машин Tajima могут 
          li Программа для вышивки разрабатывается максимально быстро и с учетом ткани, на которую будет

      div(style="margin: 50px 0")
        h3 BUTTONS
        div: a.btn(href="#!") Кнопка
        div: a.btn(href="#!" disabled) Кнопка disabled

      div(style="margin: 50px 0")
        h3 LINKS
        div: a.link(href="#!") Вышивка на крое
        div: a.link(href="#!").link--noline Вышивка на крое
        div(style="background: #130246; padding: 15px"): a.link(href="#!").link--white Вышивка на крое
      
      div(style="margin: 50px 0")
        h3 FORMS

        form.form
          .form__flex
            .form__col
              .field
                input(type="text" placeholder="Ваше имя*").field__input
            .form__col
              .field
                input(type="text" placeholder="Телефон").field__input
          .field.field--error
            input(type="text" placeholder="Email*").field__input
            .field__error Произошла ошибка
          .field
            textarea(placeholder="Сообщение").field__input
          .field
            +field-file()
          .form__bottom
            .form__bottom-col
              .form__agreement
                label.checkbox
                  input(type="checkbox" checked)
                  .checkbox__view
                  .checkbox__content Нажимая на кнопку «Отправить», вы соглашаетесь на обработку своих персональных данных
            .form__bottom-col
              button.btn Отправить

      div(style="margin: 50px 0")
        h3 Tab

        .tab.js-tab
          .tab__nav
            a.js-tab-navlink(href="#popup-tab-1").tab__navlink.active задать вопрос
            a.js-tab-navlink(href="#popup-tab-2").tab__navlink запросить расчет заказа
          
          #popup-tab-1.tab__block.js-tab-block.active
            p tab block 1
          
          #popup-tab-2.tab__block.js-tab-block
            p tab block 2
          

      div(style="margin: 50px 0")
        h3 Table
        .table-wrap
          table.styled-table.prices__table
            thead
              tr
                th Тип
                th Цена
                th Тираж
            tbody
              tr
                td Минимальная стоимость 1 вышивки
                td 25 руб.
                td от 100 штук
              tr
                td Минимальная стоимость 1 шеврона
                td 35 руб.
                td от 100 штук
              tr
                td Разработка вышивальной программы
                td от 100 руб. за 1000 стежков
                td не менее 500 руб.
              tr
                td Обработка шеврона (резка на лазере)
                td 10 руб.
                td 1 ед.
              tr
                td Вышивка металлизированными нитями
                td плюс 30% к цене
                td -
              tr
                td Утюжка и упаковка готовых изделий
                td от 3 руб.
                td 1 ед.
              tr
                td Срочное изготовление заказа
                td плюс 70% к стоимости
                td -
              tr
                td Разметка вышивки на крое 
                td от 5 руб.
                td - 

      div(style="margin: 50px 0")
        h3 Slider
        +slider()