.prices {
  &__item {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    &-title {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      color: $purple-main;
      margin-bottom: 8px;
      @include media($screen-xs){
        font-size: 16px;
        text-align: left;
      }
    }
  }

  &__calc {
    margin-top: 100px;
    &-title {
      margin-bottom: 30px;
      text-align: center;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
    }
    &-btn {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }

    &-item {
      width: 20%;
      padding: 0 15px;
    }

    @include media($screen-sm){
      margin-top: 60px;
    }
    @include media($screen-xs){
      &-item {
        width: 50%;
        margin-bottom: 30px;
      }
      &-btn {
        margin-top: 0;
      }
    }
  }

}