include ../item/item

mixin prices()
  .prices.section
    .wrapper
      .prices__inner
        .prices__title.section__title.h2 С нами выгодно работать
        .prices__item
          .prices__item-title Ориентировочные цены при изготовлении в течение 1 недели
          .table-wrap
            table.styled-table.prices__table
              thead
                tr
                  th(rowspan="2") Тираж
                  th(colspan="3" align="center") Стоимость за 1 000 стежков
                tr
                  th(align="center").text-regular Крой и полотно
                  th(align="center").text-regular Готовые изделия
                  th(align="center").text-regular Шевроны, нашивки
              tbody
                tr
                  td 100-500
                  td 7,5 руб.
                  td 11,5 руб.
                  td 8,5 руб.
                tr
                  td 501-1000
                  td 5,5 руб.
                  td 7,5 руб.
                  td 6,5 руб.
                tr
                  td от 1001 и более
                  td 4 руб.
                  td 6 руб.
                  td 5 руб.
        .prices__item
          .prices__item-title Дополнительные параметры
          .table-wrap
            table.styled-table.prices__table
              thead
                tr
                  th Тип
                  th Цена
                  th Тираж
              tbody
                tr
                  td Минимальная стоимость 1 вышивки
                  td 25 руб.
                  td от 100 штук
                tr
                  td Минимальная стоимость 1 шеврона
                  td 35 руб.
                  td от 100 штук
                tr
                  td Разработка вышивальной программы
                  td от 100 руб. за 1000 стежков
                  td не менее 500 руб.
                tr
                  td Обработка шеврона (резка на лазере)
                  td 10 руб.
                  td 1 ед.
                tr
                  td Вышивка металлизированными нитями
                  td плюс 30% к цене
                  td -
                tr
                  td Утюжка и упаковка готовых изделий
                  td от 3 руб.
                  td 1 ед.
                tr
                  td Срочное изготовление заказа
                  td плюс 70% к стоимости
                  td -
                tr
                  td Разметка вышивки на крое 
                  td от 5 руб.
                  td -

    .prices__calc
      .wrapper
        .prices__calc-title.h2 Стоимость рассчитывается с учетом следующих показателей:
        .prices__calc-list
          +item('item-icon-15.svg', 'Сложность дизайна', 'prices__calc-item')
          +item('item-icon-16.svg', 'Площадь вышивки', 'prices__calc-item')
          +item('item-icon-17.svg', 'Количество стежков', 'prices__calc-item')
          +item('item-icon-18.svg', 'Плотность застила', 'prices__calc-item')
          +item('item-icon-19.svg', 'Нити и материалы', 'prices__calc-item')
        .prices__calc-btn
          a.btn(href="#popup-ask").js-popup Запросить расчет заказа