.field-file {
  cursor: pointer;
  &__input {
    display: none;
  }
  &__view {
    display: flex;
  }
  &__icon {
    margin-right: 8px;
  }
  &__text {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px dashed $accent;
    transition: .25s;
  }
  &__print {
    font-size: 13px;
    margin-top: 10px;
  }
  &:hover {
    .field-file__text {
      border-bottom-color: transparent;
    }
  }
}