mixin field-file()
  label.field-file.js-file
    input(type="file").field-file__input.js-file-input
    .field-file__view
      img(src=require('@root/img/icons/file.svg')).field-file__icon
      .field-file__text Прикрепить файл
    .field-file__print.js-file-print