.contacts {
  &__flex {
    display: flex;
    margin: 0 -15px 50px;
  }

  &__col {
    padding: 0 15px;
    &:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__list {
    display: flex;
    padding-top: 10px;
    margin: 0 -10px;
  }

  &__listcol {
    width: 50%;
    padding: 0 10px;
  }

  &__item {
    margin-bottom: 40px;
    
    &-title {
      margin-bottom: 10px;
    }
    &-text {
      p {
        margin: 0;
      }
      a {
        font-weight: 400;
      }
    }
  }

  &__col {
    width: 50%;
  }

  &__feedback {
    &-title {
      margin-bottom: 20px;
    }
  }

  &__maplink {
    display: flex;
    font-size: 14px;
    &-icon {
      margin-right: 8px;
      flex-shrink: 0;
    }
  }

  &__map {
    width: 100%;
    height: 600px;
  }

  @include media($screen-md){
    &__map {
      height: 330px;
    }

    &__feedback {
      .form__flex {
        display: block;
      }
      .form__col {
        width: 100%;
      }
      &-btn {
        min-width: unset;
      }
    }

    &__item-title {
      font-size: 16px;
    }
  }

  @include media($screen-sm){
    &__col {
      flex-grow: 1;
      width: auto;
      &:first-child {
        width: 225px;
        flex-shrink: 0;
      }
    }

    &__list {
      display: block;
    }

    &__listcol {
      width: 100%;
    }

    &__item {
      margin-bottom: 25px;
    }
  }

  @include media(650px){
    &__flex {
      display: block;
    }

    &__col {
      width: 100%!important;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item {
      font-size: 14px;
      &-title {
        font-size: 14px;
      }
    }

    &__maplink {
      display: none;
    }

    &__feedback-btn {
      width: 100%;
    }
  }
}