mixin contacts()
  .contacts
    .wrapper
      .contacts__inner
        .contacts__flex
          .contacts__col
            .contacts__list
              .contacts__listcol

                .contacts__item
                  .contacts__item-title.h4 Адрес
                  .contacts__item-text
                    p 300001, г. Тула,
                    p ул. Пролетарская д. 93-a

                .contacts__item
                  .contacts__item-title.h4 Часы работы:
                  .contacts__item-text
                    p Пн.-Пт. – 10:00-17:00
                    p Сб-Вс - выходной

              .contacts__listcol
                .contacts__item
                  .contacts__item-title.h4 Телефоны
                  .contacts__item-text
                    p 8 (4872) 40-51-31

                .contacts__item
                  .contacts__item-title.h4 E-mail
                  .contacts__item-text
                    a.link(href="mailto:info@pelloni.ru").link--noline info@pelloni.ru

            .contacts__maplink
              img(src=require('@root/img/icons/marker.svg')).contacts__maplink-icon
              .contacts__maplink-text
                a.link(href="https://yandex.kz/maps/15/tula/house/proletarskaya_ulitsa_93a/Z04YcARpS0EOQFtufX5xcnVhYQ==/?ll=37.639249%2C54.203925&z=17.15" target="_blank") Показать карту в отдельном окне
                
          .contacts__col
            .contacts__feedback
              .contacts__feedback-title.h3 Обратная связь
              form.contacts__feedback-form.form
                .form__flex
                  .form__col
                    .field
                      input(type="text" placeholder="Ваше имя*").field__input
                  .form__col
                    .field
                      input(type="text" placeholder="Телефон").field__input
                .field
                  input(type="text" placeholder="Email*").field__input
                .field
                  textarea(placeholder="Сообщение").field__input
                .form__bottom
                  .form__bottom-col
                    .form__agreement
                      label.checkbox
                        input(type="checkbox" checked)
                        .checkbox__view
                        .checkbox__content Нажимая на кнопку «Отправить», вы соглашаетесь на обработку своих персональных данных
                  .form__bottom-col
                    button.contacts__feedback-btn.btn Отправить
        
    #map.contacts__map(data-geo-lat="54.203925" data-geo-lng="37.639249")