.pagehead {
  padding: 35px 0;
  background: $purple-bg;
  margin-bottom: 25px;

  &__title {
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 1.3;
  }

  @include media($screen-md){
    padding: 25px 0;
  }
  @include media($screen-xs){
    padding: 20px 0;
  }
}