.technology {
  background: $purple-bg;
  padding: 60px 0 80px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -40px;
  }

  &__item {
    width: calc(100% / 3);
    margin-bottom: 40px;
    padding: 0 15px;

    &-inner {
      padding: 50px 24px;
      display: flex;
      align-items: center;
      background: #fff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      overflow: hidden;
      border: none;
      position: relative;
      z-index: 2;

      &:hover {
        background: transparent;
        .technology__item {
          &-name {
            border-bottom-color: transparent;
            color: #fff;
            text-align: center;
          }
          &-icon {
            opacity: 0;
          }
          &-img {
            opacity: 1;
          }
        }
      }
    }

    &-icon {
      margin-right: 18px;
      transition: .5s;
    }

    &-img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .5s;
      opacity: 0;
    }

    &-name {
      border-bottom: 1px solid $accent;
      display: inline;
    }
  }

  @include media(850px){
    &__item {
      width: 50%;
      margin-bottom: 30px;
      padding: 0 10px;
    }
  }

  @include media($screen-xs){
    &__item {
      width: 100%;
      margin-bottom: 20px;
      &-inner {
        padding: 40px 24px;
      }
      &-icon {
        width: 80px;
      }
    }
  }
}