mixin technology()
  .technology.section
    .wrapper
      .technology__inner
        .technology__title.section__title.h2 Абсолютно любые технологии машинной вышивки
        .technology__list
          .technology__item
            a.link(href="#!").technology__item-inner
              img(src=require('@root/img/technology-icon-1.png')).technology__item-icon
              img(src=require('@root/img/technology-bg-1.jpg')).technology__item-img
              .technology__item-content
                .technology__item-name Стандартная машинная вышивка

          .technology__item
            a.link(href="#!").technology__item-inner
              img(src=require('@root/img/technology-icon-1.png')).technology__item-icon
              img(src=require('@root/img/technology-bg-2.jpg')).technology__item-img
              .technology__item-content
                .technology__item-name Объемная 3D-вышивка

          .technology__item
            a.link(href="#!").technology__item-inner
              img(src=require('@root/img/technology-icon-3.png')).technology__item-icon
              img(src=require('@root/img/technology-bg-3.jpg')).technology__item-img
              .technology__item-content
                .technology__item-name Вышивка пайетками

          .technology__item
            a.link(href="#!").technology__item-inner
              img(src=require('@root/img/technology-icon-4.png')).technology__item-icon
              img(src=require('@root/img/technology-bg-4.jpg')).technology__item-img
              .technology__item-content
                .technology__item-name Вышивка металлизированными нитями

          .technology__item
            a.link(href="#!").technology__item-inner
              img(src=require('@root/img/technology-icon-5.png')).technology__item-icon
              img(src=require('@root/img/technology-bg-5.jpg')).technology__item-img
              .technology__item-content
                .technology__item-name Аппликация

          .technology__item
            a.link(href="#!").technology__item-inner
              img(src=require('@root/img/technology-icon-6.png')).technology__item-icon
              img(src=require('@root/img/technology-bg-6.jpg')).technology__item-img
              .technology__item-content
                .technology__item-name Шевроны (нашивки)