.footer {
  background: $purple-main;
  color: #fff;
  padding: 50px 0;

  &__main {
    display: flex;
  }

  &__mainleft {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .footer__metainfo {
      display: none;
    }
  }

  &__mainright {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    .footer__actions {
      display: none;
    }
  }

  &__maincol {
    width: 25%;
    padding: 0 15px;

    &:first-child {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__mainnav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0;

    &-link {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }

  &__catalog {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }

    &-col {
      width: calc(100% / 3);
      padding-right: 40px;
      &:last-of-type {
        padding-right: 0;
      }
    }
    .link {
      font-weight: normal;
    }
    &-item {
      margin-bottom: 15px;
    }
    &-title {
      font-size: 16px;
      display: inline-block;
      font-weight: bold!important;
    }
    &-list {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }
  }

  &__send {
    min-width: unset;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }

  &__metainfo {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    margin: 70px 0 30px;

    .link {
      font-weight: 500;
    }

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid #fff;
      &:last-child {
        border: none;
      }
    }
  }

  &__made {
    display: flex;
    align-items: center;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }

  &__bottomnav {
    font-size: 12px;
    font-weight: 500;
    padding: 12px 0 0;

    &-link {
      display: inline-block;
      text-transform: uppercase;
      margin-right: 35px;
      border-bottom: 3px solid transparent;
      transition: .25s;
      position: relative;
      padding-bottom: 8px;
      color: #BDBDBD;
      margin-bottom: -2px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #fff;
        border-bottom-color: $accent;
      }

      &--active {
        color: #fff;
        font-weight: bold;
        border-bottom-color: $accent;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  &__callback {
    margin-right: 15px;
  }

  @include media($screen-sm){
    &__main {
      margin-bottom: 40px;
    }

    &__catalog {
      margin-bottom: 15px;
      &-col {
        width: 100%;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &-list {
        display: none;
      }
    }

    &__actionlink {
      margin-bottom: 12px;
    }

    &__mainnav {
      margin: 25px 0;
    }

    &__mainleft {
      width: 50%;
      margin-right: 0;
    }

    &__mainright {
      display: block;
      width: 50%;
    }

    &__metainfo {
      flex-direction: column-reverse;
      &-item {
        border: none;
        margin-bottom: 10px;
        margin-right: 0;
      }
    }

    &__made {
      margin-bottom: 20px;
    }

    &__actions {
      font-size: 13px;
    }

    &__bottomnav-link {
      font-size: 11px;
      margin-right: 16px;
    }
  }

  @include media(650px){
    &__actions {
      display: none;
    }

    &__send {
      display: none;
    }

    &__metainfo {
      margin: 25px 0;
    }

    &__mainright {
      .footer__actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
      }
    }
  }

  @include media($screen-xs){
    &__metainfo {
      flex-direction: column;
      margin-top: -50px;
    }

    &__mainleft {
      justify-content: flex-start;
    }

    &__mainright {
      padding-top: 65px;
    }

    &__bottomnav-link {
      font-size: 10px;
      margin-right: 15px;
    }

    &__bottom {
      border-top: 0;
    }

    &__mainnav-link {
      font-size: 14px;
    }

    &__catalog {
      &-col {
        padding-right: 0;
      }
      &-title {
        font-size: 13px;
      }
    }

    &__metainfo-list {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}