//footer
.footer
  .wrapper
    .footer__inner
      .footer__main
        .footer__mainleft
          img(src=require('@root/img/icons/logo-white.svg'), alt="logo").footer__logo
          .footer__mainnav
            a.link(href="#!").link--white.link--noline.footer__mainnav-link Цены
            a.link(href="#!").link--white.link--noline.footer__mainnav-link Портфолио
            a.link(href="#!").link--white.link--noline.footer__mainnav-link О компании
            a.link(href="#!").link--white.link--noline.footer__mainnav-link Доставка
            a.link(href="#!").link--white.link--noline.footer__mainnav-link Контакты

          a.btn(href="#popup-ask").footer__send.js-popup Отправить заявку

        .footer__mainright

          .footer__catalog-col
            .footer__catalog
              a.link(href="#!").link--white.link--noline.footer__catalog-title Вышивка на одежде
              .footer__catalog-list
                a.link(href="#!").link--white.link--noline.footer__catalog-item Спортивная форма
                a.link(href="#!").link--white.link--noline.footer__catalog-item Майки/футболки
                a.link(href="#!").link--white.link--noline.footer__catalog-item Поло
                a.link(href="#!").link--white.link--noline.footer__catalog-item Рубашки
                a.link(href="#!").link--white.link--noline.footer__catalog-item Толстовки
                a.link(href="#!").link--white.link--noline.footer__catalog-item Костюмы
                a.link(href="#!").link--white.link--noline.footer__catalog-item Брюки/джинсы/шорты
                a.link(href="#!").link--white.link--noline.footer__catalog-item Кепки (бейсболки)
                a.link(href="#!").link--white.link--noline.footer__catalog-item Шапки, шарфы, варежки
                a.link(href="#!").link--white.link--noline.footer__catalog-item Панамы
                a.link(href="#!").link--white.link--noline.footer__catalog-item Галстуки
                a.link(href="#!").link--white.link--noline.footer__catalog-item Фартуки

          .footer__catalog-col
            .footer__catalog
              .footer__catalog-list
                a.link(href="#!").link--white.link--noline.footer__catalog-item Халаты
                a.link(href="#!").link--white.link--noline.footer__catalog-item Полотенца
                a.link(href="#!").link--white.link--noline.footer__catalog-item Жилетки
                a.link(href="#!").link--white.link--noline.footer__catalog-item Школьная форма
                a.link(href="#!").link--white.link--noline.footer__catalog-item Вышивка металлизированной нитью
                a.link(href="#!").link--white.link--noline.footer__catalog-item Вышивка на крое
                a.link(href="#!").link--white.link--noline.footer__catalog-item 3D-вышивка
                a.link(href="#!").link--white.link--noline.footer__catalog-item Аппликация
                a.link(href="#!").link--white.link--noline.footer__catalog-item Вышивка бирок
                a.link(href="#!").link--white.link--noline.footer__catalog-item Вышивка на медицинской одежде
                a.link(href="#!").link--white.link--noline.footer__catalog-item Вышивка на рюкзаке
                a.link(href="#!").link--white.link--noline.footer__catalog-item Форма и спецодежда
          .footer__catalog-col
            .footer__catalog
              a.link(href="#!").link--white.link--noline.footer__catalog-title Вышивка логотипа
            .footer__catalog
              a.link(href="#!").link--white.link--noline.footer__catalog-title Шевроны
            .footer__catalog
              a.link(href="#!").link--white.link--noline.footer__catalog-title Нашивки на заказ
            .footer__catalog
              a.link(href="#!").link--white.link--noline.footer__catalog-title Термотрансфер
              .footer__catalog-list
                a.link(href="#!").link--white.link--noline.footer__catalog-item Детские
                a.link(href="#!").link--white.link--noline.footer__catalog-item Корпоративные
                a.link(href="#!").link--white.link--noline.footer__catalog-item Фанатские
                a.link(href="#!").link--white.link--noline.footer__catalog-item Спортивные школы
                a.link(href="#!").link--white.link--noline.footer__catalog-item Байкерские
                a.link(href="#!").link--white.link--noline.footer__catalog-item Военные
                a.link(href="#!").link--white.link--noline.footer__catalog-item Резиновая нашивка

          .footer__actions
            a(href="#popup-ask").footer__actionlink.link.link--white.js-popup Отправить заявку
            a(href="#popup-callback").footer__actionlink.link.link--white.js-popup Перезвоните мне
            a(href="tel:+7(4872)40-51-34").footer__actionlink.link.link--noline.link--white +7 (4872) 40-51-34

      .footer__metainfo
        .footer__metainfo-col
          .footer__metainfo-list
            .footer__metainfo-item Pelloni 2020 ©
            .footer__metainfo-item: a.link(href="#!").link--white.link--noline Условия использования
            .footer__metainfo-item: a.link(href="#!").link--white.link--noline Обработка персональных данных
        .footer__metainfo-col
          .footer__made
            .footer__made-label Разработано в&nbsp;&nbsp;
            img(src=require("@root/img/icons/ustrong.png"), alt="").footer__made-icon

      .footer__bottom
        .footer__bottomnav
          a(href="#!").footer__bottomnav-link Одежда
          a(href="#!").footer__bottomnav-link.footer__bottomnav-link--active Вышивка
          a(href="#!").footer__bottomnav-link Спортивные костюмы
        .footer__actions
          a(href="#popup-callback").footer__callback.js-popup.link.link--white Перезвоните мне
          a(href="tel:+7(4872)40-51-34").footer__phone.link.link--noline.link--white +7 (4872) 40-51-34