.flow {
  background: $purple-bg;
  padding: 60px 0 80px;

  &__desc {
    color: $purple-main;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    max-width: 920px;
    margin: 0 auto;
  }

  &__btnwrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  @include media($screen-xs){
    &__desc {
      display: none;
    }
  }
}