mixin flow()
  .flow.section
    .wrapper
      .flow__inner
        .flow__title.section__title.h2 Наш подход гарантирует, что вы останетесь довольны
        .flow__desc Процесс производства у нас четко налажен и подробно регламентирован. Система менеджмента качества соответствует стандарту ISO 9000 2011. В среднем заказ для 100 единиц выполняется 3-4 дня.
        .flow__list
          ol.styled-list
            li <b>Анализ задачи</b> клиента и разработка технического задания.
            li <b>Подбор оптимальной и экономичной технологии.</b>Мы предложим лучшее решение для вышивки на вашей ткани и добьемся, чтобы ваша продукция смотрелась отлично.
            li <b>Оперативное программирование.</b>Точная и продуманная программа - основа ровного рисунка с аккуратными стежками. Поэтому наши программисты работают быстро и безошибочно, за несколько часов создавая программы любой сложности. 
            li <b>Изготовление образца и его согласование с клиентом.</b>Доведение вышивки до совершенства.
            li <b>Изготовление всей партии.</b>
            li <b>Частичная поэтапная отгрузка.</b>Если сроки сжатые, то мы можем начать частичную отгрузку уже на следующей день. У нас непрерывное производство - оборудование работает круглосуточно и бесперебойно.
        .flow__btnwrap
          a.btn(href="#popup-ask").flow__btn.js-popup Задать вопрос
