doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://unpkg.com/sanitize.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    block title
  body
    .page
      .page__header
        include ./header/header
      .page__body
        block content
      .page__footer
        include ./footer/footer

    include ../blocks/popups/popups