/* base styles */
@import '../scss/base/vars';
@import '../scss/base/mixin';
@import '../scss/base/base';
/* common blocks */
@import './header/header';
@import './footer/footer';
@import './header-catalog/header-catalog';
@import '../blocks/slider/slider';
@import '../blocks/popups/popups';
@import '../blocks/pagehead/pagehead';
@import '../blocks/breadcrumb/breadcrumb';


.section {
  padding: 95px 0;
  &__title {
    text-align: center;
    margin-bottom: 28px;
  }

  &__text {
    margin-bottom: 30px;
  }

  @include media($screen-md){
    padding: 70px 0;
  }

  @include media($screen-xs){
    padding: 55px 0;
  }
  
}